
.menu-box{
    text-align: center;
}
.menu-item {
    display: inline-block;
    list-style: none;
}
.menu-item a{
  font-size: 14px;
  font-weight: regular;
    font-family: "Playfair Display";
     color: rgb(98, 98, 98);
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    top: 100.06px;
    width: 71px;
    height: 11px;
    z-index: 70;
    padding: 70px;
}
.some1{
    position: absolute;
    left: 150px;
    top: 191px;
    width: 420px;
    height: 280px;
    z-index: 61;
}
.some2{
 
    position: absolute;
    right: 150px;
    top: 191px;
    width: 419px;
    height: 280px;
    z-index: 52;      
}
.some3{
    position: absolute;
    left: 150px;
    top: 801px;
    width: 420px;
    height: 280px;
    z-index: 41;
}
.some4{
    position: absolute;
    right: 150px;
    top: 801px;
    width: 419px;
    height: 280px;
    z-index: 32;
      
}
.some5{
    position: absolute;
    left: 150px;
    top: 1417px;
    width: 420px;
    height: 280px;
    z-index: 21;
}
.some6{
        position: absolute;
        right: 150px;
        top: 1417px;
        width: 419px;
        height: 280px;
        z-index: 12;
      
}
.tutle {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
  }
  .tatle{
    font-family: "Playfair Display"; 
    font-weight: regular;
    font-size: 30px;
    color: rgb(98, 98, 98);
    line-height: 1.2;
  }
  .tetle{
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.714;
  }
  .butt{
    font-size: 20px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.2;
    position: absolute;
    left: 539.87px;
    top: 1966.5px;
    z-index: 4;
        border-width: 1px;
        border-color: rgb(98, 98, 98);
        background-color: white;
        border-style: solid;
        position: absolute;
        left: 507px;
        top: 1949px;
        width: 162px;
        height: 58px;
        z-index: 3;
        margin: 73px;
  }